---
export interface Props {
  title: string
  keywords: string
  createdAt?: string
  updatedAt?: string
  description: string
  image?: string
}

const {
  title,
  description,
  keywords,
  createdAt,
  updatedAt,
  image = '/cover.jpg'
} = Astro.props
---

<!-- google analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3HV9XKE9BW"
></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())

  gtag('config', 'G-3HV9XKE9BW')
</script>
<!-- google adsense -->
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9333834314723479"
  crossorigin="anonymous"
></script>
<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="canonical" href={Astro.url} />
<meta
  name="robots"
  content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
/>
<meta name="generator" content={Astro.generator} />
<meta name="theme-color" content="#ffffff" />
<meta name="author" content="Solutions Blog" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="language" content="English" />
<meta
  name="google-site-verification"
  content="XaIzON0zs692CmO3VGjfInUmtN2TCW3ddlHjzunBbTM"
/>

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:locale" content="en_US" />
<meta property="article:modified_time" content={createdAt} />
<meta property="og:updated_time" content={updatedAt} />
<meta property="og:site_name" content="Solutions Blog" />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:image:width" content="2000" />
<meta property="og:image:height" content="2000" />
<meta property="og:image:type" content="image/jpeg" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- reactions -->
<script
  type="text/javascript"
  src="https://platform-api.sharethis.com/js/sharethis.js#property=63ab63aeb92caa0012f8103e&product=sop"
  async="async"
></script>

<!-- share -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
/>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark'
    }
    return 'light'
  })()

  if (theme === 'light') {
    document.documentElement.classList.remove('dark')
  } else {
    document.documentElement.classList.add('dark')
  }
</script>
