---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import Scroll from '../components/scroll.astro'
// import Share from '../components/share.astro'
import '../styles/styles.css'

export interface Props {
  content: {
    title: string
    description: string
    keywords: string
    createdAt?: string
    updatedAt?: string
    heroImage?: string
    tags: string[]
  }
}

const {
  content: { title, description, keywords, heroImage, createdAt, updatedAt }
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
    <BaseHead
      createdAt={createdAt}
      updatedAt={updatedAt}
      title={title}
      description={description}
      image={heroImage}
      keywords={keywords}
    />
  </head>

  <Body>
    <Header />
    <main class="pt-[56px]">
      <Content className="pt-6">
        <div class="mb-8">
          <h1 class="text-3xl my-1 font-mplus">{title}</h1>
          <div class="date">{createdAt}</div>
          {
            heroImage && (
              <img
                class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                width={720}
                height={360}
                src={heroImage}
                alt=""
              />
            )
          }
        </div>
        <div class="description">description :</div>
        <div>{description}</div>
        <hr class="border-top border-zinc-400 my-4" />
        <slot />
        <span
          class="underline underline-offset-2 hover:text-orange-500 decoration-orange-500 text-2xl"
        ></span>
      </Content>
    </main>
    <Scroll />
    <!-- <Share /> -->
    <div class="share-btn-container">
      <a href="#" class="facebook-btn">
        <i class="fab fa-facebook"></i>
      </a>

      <a href="#" class="twitter-btn">
        <i class="fab fa-twitter"></i>
      </a>

      <a href="#" class="pinterest-btn">
        <i class="fab fa-pinterest"></i>
      </a>

      <a href="#" class="linkedin-btn">
        <i class="fab fa-linkedin"></i>
      </a>

      <a href="#" class="whatsapp-btn">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>

    <script is:inline>
      const facebookBtn = document.querySelector('.facebook-btn')
      const twitterBtn = document.querySelector('.twitter-btn')
      const pinterestBtn = document.querySelector('.pinterest-btn')
      const linkedinBtn = document.querySelector('.linkedin-btn')
      const whatsappBtn = document.querySelector('.whatsapp-btn')

      console.log(postTitle)
      console.log(postUrl)
      console.log(postImg)

      function init() {
        const pinterestImg = document.querySelector('.pinterest-img')

        let postUrl = encodeURI(document.location.href)
        let postTitle = encodeURI(document.title)
        let postImg = encodeURI(pinterestImg.src)

        facebookBtn.setAttribute(
          'href',
          `https://www.facebook.com/sharer.php?u=${postUrl}`
        )

        twitterBtn.setAttribute(
          'href',
          `https://twitter.com/share?url=${postUrl}&text=${postTitle}`
        )

        pinterestBtn.setAttribute(
          'href',
          `https://pinterest.com/pin/create/bookmarklet/?media=${postImg}&url=${postUrl}&description=${postTitle}`
        )

        linkedinBtn.setAttribute(
          'href',
          `https://www.linkedin.com/shareArticle?url=${postUrl}&title=${postTitle}`
        )

        whatsappBtn.setAttribute(
          'href',
          `https://wa.me/?text=${postTitle} ${postUrl}`
        )
      }

      init()
    </script>
    <Footer />
  </Body>


</html>
