---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import Scroll from '../components/scroll.astro'
import Share from '../components/share.astro'
import Comments from '../components/comments.astro'
import Zoom from './image-zoom.astro'
import Tags from './DropdownMenu'
import { formatDate } from '../utils'
import '../styles/styles.css'

export interface Props {
  content: {
    title: string
    description: string
    keywords: string
    createdAt?: string
    updatedAt?: string
    heroImage?: string
  }
}

const {
  content: { title, description, keywords, heroImage, createdAt, updatedAt }
} = Astro.props

const allPosts = await Astro.glob('../pages/posts/*.md')
const filteredPost = allPosts.filter(
  post => post.frontmatter.title === title
)[0]
const postTags = filteredPost.frontmatter.tags
// next and previous posts
const sortedPosts = allPosts.sort(
  (a, b) =>
    new Date(a.frontmatter.createdAt).getTime() -
    new Date(b.frontmatter.createdAt).getTime()
)
const currentIndex = sortedPosts.findIndex(
  post => post.frontmatter.title === title
)
const previousPost = currentIndex > 0 ? sortedPosts[currentIndex - 1] : null
const nextPost =
  currentIndex < sortedPosts.length - 1 ? sortedPosts[currentIndex + 1] : null
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      import '../CopyCodeButton/create-copy-buttons.js'
      import '../CopyCodeButton/copy-code-button.js'
    </script>
    <BaseHead
      createdAt={createdAt}
      updatedAt={updatedAt}
      title={title}
      description={description}
      image={heroImage}
      keywords={keywords}
    />
  </head>
  <Body>
    <Header />
    <main class="pt-[56px]">
      <Content className="pt-6">
        <div class="mb-8">
          <h1 class="text-3xl my-1 font-mplus">{title}</h1>
          <time class="date">{formatDate(createdAt)}</time>
          {
            heroImage && (
              <img
                class="pinterest-img hero zoom border border-slate-300 dark:border-zinc-700 rounded-md"
                width={720}
                height={360}
                src={heroImage}
                alt={'Thumbnail' + ` : ${title}`}
              />
            )
          }
        </div>
        <slot />
        <span
          class="underline underline-offset-2 hover:text-orange-500 decoration-orange-500 text-2xl"
        ></span>
      </Content>
    </main>
    <Tags client:visible tags={Array.from(postTags)} />
    <div class="prev-next-buttons">
      {
        previousPost && (
          <a
            href={previousPost.url}
            class="prev-next-button prev-button bg-prenext-900 hover:bg-prenext-800 dark:bg-prenext-500 dark:hover:bg-transparent dark:hover:text-white"
          >
            <span class="satr">
              <i class="fas fa-arrow-left" /> Previous Post
            </span>
            <span class="prev-next-button-title">
              {previousPost.frontmatter.title}
            </span>
          </a>
        )
      }
      {
        nextPost && (
          <a
            href={nextPost.url}
            class="prev-next-button next-button bg-prenext-900 hover:bg-prenext-800 dark:bg-prenext-500 dark:hover:bg-transparent dark:hover:text-white"
          >
            <span class="satr">
              Next Post <i class="fas fa-arrow-right" />
            </span>
            <span class="prev-next-button-title">
              {nextPost.frontmatter.title}
            </span>
          </a>
        )
      }
    </div>
    <Comments client:load />
    <Zoom />
    <Scroll />
    <Share />
    <Footer />
    <script is:inline>
      let videos = document.getElementsByTagName('video')
      for (let i = 0; i < videos.length; i++) {
        videos[i].addEventListener('mouseenter', function () {
          this.play()
        })
        videos[i].addEventListener('mouseleave', function () {
          this.pause()
        })
      }
    </script>
  </Body>


</html>
