---
import { Image } from '@astrojs/image/components'
import BaseHead from '../components/BaseHead.astro'
import Body from '../components/Body.astro'
import Breadcrumb from '../components/Breadcrumb.astro'
import Content from '../components/Content.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import { formatDate } from '../utils'
import { formatBlogPosts } from '../js/utils'
import '../styles/max.css'
import { SITE_DESCRIPTION, SITE_TITLE } from '../config'

export interface Props {
  category: string
  keywords: string
}

const { category, keywords } = Astro.props

const posts = await Astro.glob('../pages/posts/*.md')
const formattedPosts = formatBlogPosts(posts)
const allCategories = formattedPosts.filter((item: any) =>
  item.frontmatter.tags.includes(category)
)

// const posts = (await Astro.glob('../pages/posts/*.md'))
//   .sort(
//     (a, b) =>
//       new Date(b.frontmatter.createdAt).valueOf() -
//       new Date(a.frontmatter.createdAt).valueOf()
//   )
//   .filter(item => item.frontmatter.tags.includes(category))
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={category + ` / ${SITE_TITLE}`}
      description={SITE_DESCRIPTION}
      keywords={keywords}
    />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Content>
        <Breadcrumb>{category}</Breadcrumb>
        <section>
          <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
            {
              allCategories.map(post => (
                <li class="text-center mb-4 list-group-item round card dark:hover:bg-cardbg-800 hover:bg-cardbg-100">
                  <a href={post.url}>
                    <a href={post.url} class="active-anchor">
                      <figure>
                        <Image
                          class="thumb"
                          src={post.frontmatter.heroImage}
                          width={720 * 2}
                          aspectRatio={1.9}
                          alt={
                            'Post Thumbnail' + ` : ${post.frontmatter.title}`
                          }
                          title={
                            'Post Thumbnail' + ` : ${post.frontmatter.title}`
                          }
                        />
                      </figure>
                    </a>
                    <article>
                      <header>
                        <h2 class="mt-3 text-size dark:text-white ">
                          <a href={post.url} class="hover:underline">
                            {post.frontmatter.title}
                          </a>
                        </h2>
                        <p class="font-normal dark:text-white desc-mar opacity-90 text-left ">
                          {post.frontmatter.description}
                        </p>
                      </header>
                      <time class=" font-sans">
                        {formatDate(post.frontmatter.createdAt)}
                      </time>
                    </article>
                    <a href={post.url} />
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </Content>
      <Footer />
    </main>
  </Body>


</html>
